@import 'variables.scss';

.column {
    min-width: 320px;
    max-width: 320px;
    box-shadow: 0 0 3px 0 $grayColor;
    border-radius: 10px;
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
        border-bottom: 2px solid $blackColor;
        background-color: $grayColor;

        &-title {
            font-size: $h2_fontSize;
        }

        &-limit {
            margin-left: 10px;
            font-size: $p_fontSize;
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
    }
    
}