@import 'variables.scss';

.form {    
    width: 800px;
    margin-top: 10px;
    padding: 20px;
    font-size: $p_fontSize;
    box-shadow: 0 0 5px 0 gray;
    border-radius: 10px;
    
    &__title {
        margin-bottom: 20px;
        font-size: $h2_fontSize;
    }

    &__controls-box {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 40%;

        &-label {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-weight: 700;

            &--textarea {
                min-height: 100%;
            }
        }
    
        &-input {
        padding: 5px;
        font-size: 1.2rem;
        font-family: $fontFamily;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 5px;
        
            &--textarea {
                height: 100%;
                resize: vertical;
            }
        } 
        
        &-errors-text {
            margin-top: 5px ;
            font-size: 1rem;
            font-weight: 400;
            color: rgb(255, 0, 0);
        }     
    }

    &__button {
        align-self: flex-start;
        padding: 10px 20px;
        display: block;
        font-size: 2.5rem;
        background-color: rgb(0, 140, 255);
        color: #fff;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: rgb(0, 107, 194);
        }
    }
}