@import 'variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: $fontFamily;
}

body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}