@import 'variables.scss';

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    
    &--pending {
        border: 1px solid $pendingColor;
    
    }
    
    &--pending .task__title {
        background-color: $pendingColor;
        
    }
    
    &--doing {
        border: 1px solid $doingColor;
    
    }
    
    &--doing .task__title {
        background-color: $doingColor;
        
    }
    
    &--testing {
        border: 1px solid $testingColor;
    
    }
    
    &--testing .task__title {
        background-color: $testingColor;
        
    }
    
    &--done {
        border: 1px solid $doneColor;
    
    }
    
    &--done .task__title {
        background-color: $doneColor;
        
    }

    &__title {
        width: 100%;
        padding: 5px;
        font-size: $h3_fontSize;
        text-align: center;
        
    }

    &__description, &__owner {
        font-size: $p_fontSize;
    }

    &__description {
    padding: 0 5px;
    }

    &__owner {
        font-weight: 700;
    }

    &__deadline {
        font-size: $p_fontSize-s;
    }

    &__buttons-box {
        display: flex;
        gap: 10px;
    }

    &__button {
        border: none;
        background: none;
        padding: 10px;
        cursor: pointer;
        
        &:disabled {
            cursor: not-allowed
        }
        
        &-icon {
            font-size: 2rem;
            transition: color 0.3s;

        }
        
        &:hover .task__button-icon {
            color: $buttonIconColor-hover;
        }
    }



}