// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$fontFamily: 'Montserrat', sans-serif;

// FONT SIZES
$h1_fontSize: 4rem;
$h2_fontSize: 3rem;
$h3_fontSize: 2rem;
$p_fontSize: 1.6rem;
$p_fontSize-s: 1.2rem;
